body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}

header {
    background-color: #EE4D2D;
    width: 100%;
    height: 120px;
}

.nav {
    display: flex;
    align-items: center;
    width: 83.3%;
    margin: 0 auto;
}

.logo img {
    width: 250px;
    height: 250px;
    margin-top: -65px;
    object-fit: cover;
}

.searchTerm {
    text-align: center;
    width: 100%;
    height: 34px;
}

.text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.searchButton {
    width: 50px;
    height: 36px;
    margin-left: -55px;
    background-color: #EE4D2D;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.text-10 {
    margin-top: -50px;
    width: 100%;
}

#products {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.text11 a {
    color: hsla(0,0%,100%,.9);
    font-size: .75rem;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
}

.cart {
    font-size: 40px;
    margin: -40px 35px 0;
    cursor: pointer;
}

.container-slideshow {
    display: flex;
    padding: 20px 0;
    width: 83.3%;
    margin: 0 auto;
    height: 235px;
}

.text-20 {
    width: 66.4%;
    height: 235px;
    position: relative;
}

.slider {
    position: absolute;
    width: 2.1875rem;
    height: 3.75rem;
    background-color: rgba(0,0,0,.18);
    color: white;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    border-radius: 3px;
}

.prev {
    left: 3px;
}

.next {
    right: 3px;
}

.slider-wapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider-main {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
}

.slider-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.text-21 {
    display: grid;
    grid-template-columns: repeat(0, 2fr);
    width: 32.7%;
    padding-left: 5px;
}

.text-22 {
    width: 101.4%;
    height: 94%;
}

.text-22 img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.text-23 {
    width: 101.4%;
    height: 94%;
}

.text-23 img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

#products3 {
    display: flex;
    width: 83.3%;
    margin: 0 auto;
    justify-content:space-around;
}

.container-icon {
    width: 100px;
    height: 108px;
}

.container-icon a {
    text-decoration: none;
}

.icon-img {
    width: 45px;
    height: 45px;
    margin: 0 auto 8px;
    margin: 18px auto 8px;
}

.icon-img img {
    width: 100%;
    height: 100%;
}

.title-icon p {
    font-size: .8125rem;
    line-height: .875rem;
    max-width: 150px;
    margin: 0 0 8px;
    color: #222;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;

}

.title-icon {
    /* không dùng được */
    text-align: center;
}

.category {
 background-color: whitesmoke;
}

.container-category {
    width: 83.3%;
    margin: 0 auto;
}

.text-41 {
    padding-top: 1.25rem;
    margin: 0;
}

.text-41-1 {
    background: #fff;
    height: 3.75rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
}

.text-41-1 h2 {
    margin: 0;
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
}

#products4 {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.container-service {
    width: 118px;
    height: 151px;
    border: 1px solid rgba(0,0,0,.05);
}

.container-service a {
    text-decoration: none;
}

.service-img {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.service-img img {
    width: 70%;
    height: 100%;
}

.title-service {
    margin-bottom: 10px;
}

.title-service p {
    width: 97%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgba(0,0,0,.8);
    font-size: .875rem;
    line-height: 1.25rem;
    height: 2.5rem;
}